<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccessLayer.Properties.Settings.PizzaSitesiConnectionString"
            connectionString="Data Source=DESKTOP-ORL2PMQ\SQLEXPRESS;Initial Catalog=PizzaSitesi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>